.Square{
    display: flex;
    width: 300px;
    height: 250px;
    color: white;
    align-items: center;
    background-color: rgb(239, 72, 26);
    justify-content: center;
    border-radius: 50%;
    flex-direction: column;
    position: relative;
    margin-left: 750px;
    margin-top: 200px;
}
body{
    background-image: url(v39knb1t16.jpg);
    background-size: cover  ;
}
p:hover{
    color: black;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}